<h1>Select account type</h1>
<fieldset>
	<legend>Advertising Agency / Designer</legend>
	<%= link_to 'Art Buyers sign up here', consumer_signup_path %>
</fieldset>

<fieldset>
	<legend>Photographer</legend>
	<%= link_to 'Photographer sign up here', photographer_signup_path %>
</fieldset>

<fieldset>
	<legend>Rider</legend>
	<%= link_to 'Rider sign up here', rider_signup_path %>
</fieldset>