<h1>New Proof</h1>

<% form_for(@proof, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

	<p>Max file size 80 megabytes<br/>
		<label for="image">Upload your image</label>
		<%= f.file_field :uploaded_data %>
	</p>
  	<p>
    	<%= f.submit "Upload", :disable_with => "Uploading..."  %>
  	</p>
<% end %>

