<p><%= link_to 'Images', image_shells_path %> 
   <%= link_to 'Invitations', user_invitations_path(current_user) %>
   <%= link_to 'Requests', requests_path %>
   <%= link_to 'Users', users_path %>
   <%= link_to 'Price Usags', price_usages_path %>
   <%= link_to 'Product Use Industries', product_use_industries_path %>
	 <%= link_to 'Orders', orders_path %> 
	 <%= link_to 'All Orders', orders_path + "?show=all" %>
   <%= link_to 'My Cart', cart_path %>	
</p>
