<p>                                             
<%= link_to 'Dashboard', '/dashboard' %>		 
<%= link_to 'My Invitations', user_invitations_path(current_user) %>
<%= link_to 'My Images', image_shells_path %>
<%= link_to 'Upload', new_image_shell_path %>                                           
</p>


		